<header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
      <div class="navbar-brand align-item-center d-flex mr-2" routerLink="home">
          <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;      
          </i>
         
      </div>
  <div >
      <button routerLink="home" class="btn btn-primary">
         
      <button routerLink="cart" class="btn btn-primary">
          <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
          <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
      </button>
  </div>
  </div>
</header>